.entity-moderation-form {
  background: var(--gin-bg-layer);
  border: 1px solid var(--gin-border-color-layer);
  border-radius: var(--gin-border-l);
  box-shadow: var(--gin-shadow-l1);
  margin-top: 0;
  padding: var(--gin-spacing-l);
}

.entity-moderation-form .form-item {
  margin: 0;
}

.entity-moderation-form input[type="submit"] {
  margin-bottom: 0;
}
