/*
 * Language field.
 */
.field--name-langcode > .form-type--language-select {
  align-items: center;
  display: flex;
  gap: var(--gin-spacing-m);
}

.field--name-langcode > .form-type--language-select > .form-item__label {
  margin: 0;
}

.field--name-langcode > .form-type--language-select > .form-select {
  flex: 1;
}

/*
 * Alignment field.
 */
.field--name-field-align .form-radios {
  border-radius: var(--gin-spacing-xl);
  border: 1px solid var(--gin-border-color-form-element);
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0.1875rem var(--gin-spacing-xs);
}

.gin--dark-mode .field--name-field-align .form-radios {
  background: var(--gin-bg-layer2);
}

.field--name-field-align .form-item.form-type--radio.form-type--boolean {
  flex: 1;
  margin: 0;
  text-align: center;
}

.field--name-field-align .form-radio {
  border: 0;
  height: 1px;
  margin: 0;
  opacity: 0;
  padding: 0;
  width: 1px;
}

.field--name-field-align .form-radio + .form-item__label {
  border-radius: var(--gin-border-xl);
  border: 2px solid transparent;
  display: inline-block;
  margin: var(--gin-spacing-xxs) 0;
  padding: 0.375rem var(--gin-spacing-m);
}

.field--name-field-align .form-radio:hover + .form-item__label {
  background: var(--gin-color-primary-light-hover);
  color: var(--gin-color-primary);
}

.field--name-field-align .form-radio:focus + .form-item__label {
  box-shadow: 0 0 0 1px var(--gin-color-focus-border),
    0 0 0 4px var(--gin-color-focus);
  outline: none;
}

.field--name-field-align .form-radio:checked + .form-item__label {
  background: var(--gin-color-primary-light-active);
  color: var(--gin-color-primary-active);
  font-weight: var(--gin-font-weight-bold);
}
