.page-wrapper__node-edit-form {
  position: relative;
}

.page-wrapper__node-edit-form
  .node-form
  .field-group-tabs-wrapper
  .horizontal-tabs {
  margin: 0;
}

.iframe--autoheight {
  inset-inline: 0;
  position: absolute;
}

.node-preview-container ~ .page-wrapper .region-sticky {
  height: auto;
  min-height: auto;
}

.node.node--unpublished {
  background-color: transparent;
}

.layout-container,
.node-preview-container.node-preview-container .node-preview-form-select {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

@media (min-width: 768px) {
  .layout-container,
  .node-preview-container.node-preview-container .node-preview-form-select {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

@media (min-width: 61em) {
  .gin--horizontal-toolbar
    #toolbar-administration
    .toolbar-menu-administration {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

@media (min-width: 90em) {
  [dir="ltr"] .gin--edit-form .gin-secondary-toolbar {
    left: calc(50% - 2rem);
  }
}
