.install-page {
  background-color: var(--gin-bg-app);
}

.install-page .layout-container {
  background: var(--gin-bg-layer);
}

.install-page .site-name,
.install-page .task-list li {
  color: var(--gin-color-text);
}

.install-page .task-list .is-active {
  background: var(--gin-bg-input);
}

.install-page .site-name > svg {
  height: 48px;
  vertical-align: bottom;
  width: 48px;
}
