body.gin-login .toolbar-icon-default::before {
  background: url(/profiles/contrib/nuxtify/themes/nuxtify_admin/img/icon/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-mask-image: unset;
  mask-image: unset;
}
