.gu-mirror {
  backdrop-filter: blur(12px);
  background: rgba(var(--gin-bg-app-rgb), 0.8);
  border-radius: var(--gin-border-xl);
  box-shadow: 0 6px 16px var(--gin-border-color-layer);
  opacity: 1;
  padding-inline: var(--gin-spacing-m);
}

.lp-builder .lpb-layout {
  padding: var(--gin-spacing-m);
}

.lp-builder .layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gin-spacing-l);
}

.lp-builder .js-lpb-component-list {
  display: flex;
  flex-direction: column;
  gap: var(--gin-spacing-l);
}

.lp-builder .lpb-controls .ajax-progress {
  left: 0;
  position: absolute;
  top: 13.5px;
}

.is-dragging .js-lpb-region,
.is-navigating .js-lpb-region {
  outline: 0;
}

.field--widget-layout-paragraphs .fieldset__wrapper {
  margin: 0;
}

.field--widget-layout-paragraphs > .fieldset {
  border: 0;
  padding: 0;
}

.field--widget-layout-paragraphs > .fieldset .fieldset__label {
  margin: 0;
  padding-inline: 0;
}

.details-wrapper > .field--widget-layout-paragraphs > .fieldset {
  margin-block-end: 0;
}

.ui-dialog-content .field--widget-layout-paragraphs .fieldset__legend {
  display: none;
}

.js-lpb-component.lpb-layout {
  border-radius: var(--gin-border-m);
  outline: 1px dashed var(--gin-color-primary-light);
}

.lp-builder:not(.is-navigating) .js-lpb-component:hover,
.lp-builder:not(.is-navigating) .js-lpb-component:focus-within,
.lp-builder:not(.is-navigating) .lpb-layout.js-lpb-component:hover,
.lp-builder:not(.is-navigating) .lpb-layout.js-lpb-component:focus-within {
  outline: 1px dashed var(--gin-color-primary-hover);
}

.js-lpb-component.is-navigating,
.js-lpb-component.lpb-layout.is-navigating {
  outline: 1px solid var(--gin-color-primary-active);
}

.js-lpb-component {
  outline: 0;
}

.js-lpb-component .js-lpb-region {
  outline: 1px dashed var(--gin-color-primary-light);
  transition: outline 0.15s linear;
}

.js-lpb-component .lpb-btn {
  background-color: var(--gin-color-contextual);
  border-radius: var(--gin-border-xl);
  color: #fff;
  text-decoration: none;
}

.js-lpb-component .lpb-btn + .ajax-progress,
.js-lpb-component .lpb-btn--add + .ajax-progress {
  align-items: center;
  flex-direction: column;
  inset: 0;
  position: absolute;
  transform: translateY(-50%);
}

.js-lpb-component .js-lpb-region .js-lpb-component {
  padding-inline: var(--gin-spacing-m);
}

.js-lpb-component .js-lpb-region .js-lpb-component > .field__item {
  flex: 1;
}
