.toolbar .toolbar-bar .toolbar-icon-nuxtify-admin::before {
  -webkit-mask-image: url(/profiles/contrib/nuxtify/themes/nuxtify_admin/img/icon/nuxtify.svg);
  mask-image: url(/profiles/contrib/nuxtify/themes/nuxtify_admin/img/icon/nuxtify.svg);
}

.toolbar
  .toolbar-bar
  #toolbar-item-administration-tray
  .toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default:before {
  background: url(/profiles/contrib/nuxtify/themes/nuxtify_admin/img/icon/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-image: unset;
  mask-image: unset;
  width: 1.5rem;
}
