{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'text-align-' ~ paragraph.field_align.value,
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
			{{ content }}
		{% endblock %}
	</div>
{% endblock paragraph %}
