{% if content %}
	<div class="layout layout--threecol">
		<div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
			{{ content.first }}
		</div>
		<div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
			{{ content.second }}
		</div>
		<div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
			{{ content.third }}
		</div>
	</div>
{% endif %}
